.container {
    padding: 20px 0;
    max-width: 500px;
    margin: 0 auto;
}

label {
    div {
        padding-left: 5px;
        margin-bottom: 10px;
    }

}

.spacer {
    margin-top: 15px;
}

.employee-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;

    &:not(:last-of-type) {
        padding-bottom: 30px;
        border-bottom: 2px solid black;
    }

}

.primary {
    color: var(--tui-background-accent-1);
}

.flex {
    display: flex;
    align-items: center;
    gap: 3px;
}